<nav class="z-depth-0 white">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Image Gallery</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'imageapp:approve-picture-list' %}" >Approve Images</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  {% if request.user.is_authenticated %}
    <li><a href="{% url 'imageapp:approve-picture-list' %}" >Approve Images</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}
</ul>